dns.google : 8.8.8.8
dns64.dns.google : 2001:4860:4860::6464
cloudflare-dns.com : 104.16.249.249
1dot1dot1dot1.cloudflare-dns.com : 1.1.1.1
one.one.one.one : 1.1.1.1
dns.alidns.com : 223.5.5.5
doh.pub : 1.12.12.12
dot.pub : 1.12.12.12
doh.360.cn : 23.6.48.18
dot.360.cn : 101.198.198.198
dns.twnic.tw : 101.101.101.101
ordns.he.net : 74.82.42.42
talk.google.com : 108.177.125.188
mtalk.google.com : 108.177.125.188
alt1-mtalk.google.com : 3.3.3.3
alt2-mtalk.google.com : 3.3.3.3
alt3-mtalk.google.com : 74.125.200.188
alt4-mtalk.google.com : 74.125.200.188
alt5-mtalk.google.com : 3.3.3.3
alt6-mtalk.google.com : 3.3.3.3
alt7-mtalk.google.com : 74.125.200.188
alt8-mtalk.google.com : 3.3.3.3
blog.google : 119.29.29.29
googletraveladservices.com : 119.29.29.29
dl.google.com : 119.29.29.29
dl.l.google.com : 119.29.29.29
clientservices.googleapis.com : 119.29.29.29
update.googleapis.com : 119.29.29.29
translate.googleapis.com : 119.29.29.29
fonts.googleapis.com : 119.29.29.29
fonts.gstatic.com : 119.29.29.29
stun.l.google.com : syslib
stun?.l.google.com : syslib
+.id.ui.direct : syslib
unifi.local : syslib
amplifi.lan : syslib
router.synology.com : syslib
sila.razer.com : syslib
router.asus.com : syslib
routerlogin.net : syslib
orbilogin.com : syslib
myrouter.local : syslib
instant.arubanetworks.com : syslib
setmeup.arubanetworks.com : syslib
www.miwifi.com : syslib
miwifi.com : syslib
mediarouter.home : syslib
tplogin.cn : syslib
tplinklogin.net : syslib
tplinkwifi.net : syslib
melogin.cn : syslib
falogin.cn : syslib
tendawifi.com : syslib
leike.cc : syslib
zte.home : syslib
p.to : syslib
phicomm.me : syslib
hiwifi.com : syslib
peiluyou.com : syslib
hotspot.cslwifi.com : syslib
networking.apple : https://doh.dns.apple.com/dns-query
+.icloud.com : https://doh.dns.apple.com/dns-query
+.alibaba.cn : quic://dns.alidns.com
+.alibaba.com.cn : quic://dns.alidns.com
+.china.alibaba.com : quic://dns.alidns.com
+.1688.com : quic://dns.alidns.com
+.taobao.com : quic://dns.alidns.com
+.tbcache.com : quic://dns.alidns.com
+.tmall.com : quic://dns.alidns.com
+.alicdn.com : quic://dns.alidns.com
+.alikunlun.com : quic://dns.alidns.com
+.aliapp.com : quic://dns.alidns.com
+.aliapp.org : quic://dns.alidns.com
+.alibabausercontent.com : quic://dns.alidns.com
+.mmstat.com : quic://dns.alidns.com
tb.cn : quic://dns.alidns.com
+.aliyun.* : quic://dns.alidns.com
+.aliyuncdn.* : quic://dns.alidns.com
+.aliyuncs.com : quic://dns.alidns.com
+.aliyunddos????.com : quic://dns.alidns.com
+.aliyundrive.com : quic://dns.alidns.com
+.aliyundun.com : quic://dns.alidns.com
+.aliyundunwaf.com : quic://dns.alidns.com
+.aliyun-inc.com : quic://dns.alidns.com
+.antgroup.com : quic://dns.alidns.com
+.antfin.com : quic://dns.alidns.com
+.antfinancial.com : quic://dns.alidns.com
+.alipay.com : quic://dns.alidns.com
+.alipay.com.cn : quic://dns.alidns.com
+.alipaydns.com : quic://dns.alidns.com
+.alipayeshop.com : quic://dns.alidns.com
+.alipaylog.com : quic://dns.alidns.com
+.alipayobjects.com : quic://dns.alidns.com
+.alipay-eco.com : quic://dns.alidns.com
+.tencent.com : https://doh.pub/dns-query
+.qcloud.com : https://doh.pub/dns-query
+.qcloudcdn.cn : https://doh.pub/dns-query
+.qcloudcdn.com : https://doh.pub/dns-query
+.qcloudcos.com : https://doh.pub/dns-query
+.qcloudimg.com : https://doh.pub/dns-query
+.qcloudcjgj.com : https://doh.pub/dns-query
+.qcloudwzgj.com : https://doh.pub/dns-query
+.qcloudzygj.com : https://doh.pub/dns-query
+.myqcloud.com : https://doh.pub/dns-query
+.tencent-cloud.net : https://doh.pub/dns-query
+.tencentcloud-aiot.com : https://doh.pub/dns-query
+.tencentcloudapi.com : https://doh.pub/dns-query
+.tencentcloudcr.com : https://doh.pub/dns-query
+.tencentcloudmarket.com : https://doh.pub/dns-query
+.qq.com : https://doh.pub/dns-query
+.qlogo.cn : https://doh.pub/dns-query
+.qpic.cn : https://doh.pub/dns-query
+.weixin.qq.com : https://doh.pub/dns-query
+.wx.qq.com : https://doh.pub/dns-query
+.weixin.com : https://doh.pub/dns-query
+.weixinbridge.com : https://doh.pub/dns-query
+.wechat.com : https://doh.pub/dns-query
+.servicewechat.com : https://doh.pub/dns-query
+.weiyun.com : https://doh.pub/dns-query
+.gtimg.cn : https://doh.pub/dns-query
+.idqqimg.com : https://doh.pub/dns-query
+.cdn-go.cn : https://doh.pub/dns-query
+.smtcdns.com : https://doh.pub/dns-query
+.smtcdns.net : https://doh.pub/dns-query
url.cn : https://doh.pub/dns-query
+.baidu : 180.76.76.76
+.baidu.com : 180.76.76.76
+.bdimg.com : 180.76.76.76
+.bdstatic.com : 180.76.76.76
+.baidupcs.* : 180.76.76.76
+.baiduyuncdn.* : 180.76.76.76
+.baiduyundns.* : 180.76.76.76
+.bdydns.* : 180.76.76.76
+.bdycdn.* : 180.76.76.76
+.bdysite.com : 180.76.76.76
+.bdysites.com : 180.76.76.76
+.baidubce.* : 180.76.76.76
+.bcedns.* : 180.76.76.76
+.bcebos.com : 180.76.76.76
+.bcevod.com : 180.76.76.76
+.bceimg.com : 180.76.76.76
+.bcehost.com : 180.76.76.76
+.bcehosts.com : 180.76.76.76
dwz.cn : 180.76.76.76
+.360.cn : https://doh.360.cn/dns-query
+.360safe.com : https://doh.360.cn/dns-query
+.360kuai.com : https://doh.360.cn/dns-query
+.so.com : https://doh.360.cn/dns-query
+.360webcache.com : https://doh.360.cn/dns-query
+.qihuapi.com : https://doh.360.cn/dns-query
+.qhimg.com : https://doh.360.cn/dns-query
+.qhimgs.com : https://doh.360.cn/dns-query
+.qhimgs?.com : https://doh.360.cn/dns-query
+.qhmsg.com : https://doh.360.cn/dns-query
+.qhres.com : https://doh.360.cn/dns-query
+.qhres?.com : https://doh.360.cn/dns-query
+.dhrest.com : https://doh.360.cn/dns-query
+.qhupdate.com : https://doh.360.cn/dns-query
+.yunpan.cn : https://doh.360.cn/dns-query
+.yunpan.com.cn : https://doh.360.cn/dns-query
+.yunpan.com : https://doh.360.cn/dns-query
urlqh.cn : https://doh.360.cn/dns-query
+.amemv.com : 180.184.1.1
+.bdxiguaimg.com : 180.184.1.1
+.bdxiguastatic.com : 180.184.1.1
+.byted-static.com : 180.184.1.1
+.bytedance.* : 180.184.1.1
+.bytedns.net : 180.184.1.1
+.bytednsdoc.com : 180.184.1.1
+.bytegoofy.com : 180.184.1.1
+.byteimg.com : 180.184.1.1
+.bytescm.com : 180.184.1.1
+.bytetos.com : 180.184.1.1
+.bytexservice.com : 180.184.1.1
+.douyin.com : 180.184.1.1
+.douyinpic.com : 180.184.1.1
+.douyinstatic.com : 180.184.1.1
+.douyinvod.com : 180.184.1.1
+.feelgood.cn : 180.184.1.1
+.feiliao.com : 180.184.1.1
+.gifshow.com : 180.184.1.1
+.huoshan.com : 180.184.1.1
+.huoshanzhibo.com : 180.184.1.1
+.ibytedapm.com : 180.184.1.1
+.iesdouyin.com : 180.184.1.1
+.ixigua.com : 180.184.1.1
+.kspkg.com : 180.184.1.1
+.pstatp.com : 180.184.1.1
+.snssdk.com : 180.184.1.1
+.toutiao.com : 180.184.1.1
+.toutiao13.com : 180.184.1.1
+.toutiao???.??? : 180.184.1.1
+.toutiaocloud.cn : 180.184.1.1
+.toutiaocloud.com : 180.184.1.1
+.toutiaopage.com : 180.184.1.1
+.wukong.com : 180.184.1.1
+.zijieapi.com : 180.184.1.1
+.zijieimg.com : 180.184.1.1
+.zjbyte.com : 180.184.1.1
+.zjcdn.com : 180.184.1.1
upos-sz-mirrorali.bilivideo.com : quic://dns.alidns.com
upos-sz-mirrorali?.bilivideo.com : quic://dns.alidns.com
upos-sz-mirrorali??.bilivideo.com : quic://dns.alidns.com
upos-sz-mirrorbos.bilivideo.com : 180.76.76.76
upos-sz-mirrorcos.bilivideo.com : https://doh.pub/dns-query
upos-sz-mirrorcos?.bilivideo.com : https://doh.pub/dns-query
upos-sz-mirrorcos??.bilivideo.com : https://doh.pub/dns-query
upos-sz-upcdnbd??.bilivideo.com : 180.76.76.76
upos-sz-upcdntx.bilivideo.com : https://doh.pub/dns-query
+.cht.com.tw : https://dns.hinet.net/dns-query
+.hinet.net : https://dns.hinet.net/dns-query
+.emome.net : https://dns.hinet.net/dns-query
+.tw : https://dns.twnic.tw/dns-query
+.taipei : https://dns.twnic.tw/dns-query
+.he.net : https://ordns.he.net/dns-query
uc.cn : quic://223.6.6.6:853
+.uc.cn : quic://223.6.6.6:853
ucweb.com : quic://223.6.6.6:853
+.ucweb.com : quic://223.6.6.6:853
alibaba.com : quic://223.6.6.6:853
+.alibaba.com : quic://223.6.6.6:853
alicdn.com : quic://223.6.6.6:853
ialicdn.com : quic://223.6.6.6:853
+.ialicdn.com : quic://223.6.6.6:853
myalicdn.com : quic://223.6.6.6:853
+.myalicdn.com : quic://223.6.6.6:853
alidns.com : quic://223.6.6.6:853
+.alidns.com : quic://223.6.6.6:853
aliimg.com : quic://223.6.6.6:853
+.aliimg.com : quic://223.6.6.6:853
aliyun.com : quic://223.6.6.6:853
+.aliyun.com : quic://223.6.6.6:853
aliyuncs.com : quic://223.6.6.6:853
alikunlun.com : quic://223.6.6.6:853
alikunlun.net : quic://223.6.6.6:853
+.alikunlun.net : quic://223.6.6.6:853
cdngslb.com : quic://223.6.6.6:853
+.cdngslb.com : quic://223.6.6.6:853
alipay.com : quic://223.6.6.6:853
alipay.cn : quic://223.6.6.6:853
+.alipay.cn : quic://223.6.6.6:853
alipay.com.cn : quic://223.6.6.6:853
alipayobjects.com : quic://223.6.6.6:853
alibaba-inc.com : quic://223.6.6.6:853
+.alibaba-inc.com : quic://223.6.6.6:853
alibabausercontent.com : quic://223.6.6.6:853
alicloudccp.com : quic://223.6.6.6:853
+.alicloudccp.com : quic://223.6.6.6:853
alipan.com : quic://223.6.6.6:853
+.alipan.com : quic://223.6.6.6:853
aliyundrive.com : quic://223.6.6.6:853
aliyundrive.net : quic://223.6.6.6:853
+.aliyundrive.net : quic://223.6.6.6:853
cainiao.com : quic://223.6.6.6:853
+.cainiao.com : quic://223.6.6.6:853
cainiao.com.cn : quic://223.6.6.6:853
+.cainiao.com.cn : quic://223.6.6.6:853
cainiaoyizhan.com : quic://223.6.6.6:853
+.cainiaoyizhan.com : quic://223.6.6.6:853
guoguo-app.com : quic://223.6.6.6:853
+.guoguo-app.com : quic://223.6.6.6:853
etao.com : quic://223.6.6.6:853
+.etao.com : quic://223.6.6.6:853
1688.com : quic://223.6.6.6:853
16888.com : quic://223.6.6.6:853
+.16888.com : quic://223.6.6.6:853
amap.com : quic://223.6.6.6:853
+.amap.com : quic://223.6.6.6:853
gaode.com : quic://223.6.6.6:853
+.gaode.com : quic://223.6.6.6:853
autonavi.com : quic://223.6.6.6:853
+.autonavi.com : quic://223.6.6.6:853
dingtalk.com : quic://223.6.6.6:853
+.dingtalk.com : quic://223.6.6.6:853
mxhichina.com : quic://223.6.6.6:853
+.mxhichina.com : quic://223.6.6.6:853
soku.com : quic://223.6.6.6:853
+.soku.com : quic://223.6.6.6:853
+.tb.cn : quic://223.6.6.6:853
taobao.com : quic://223.6.6.6:853
taobaocdn.com : quic://223.6.6.6:853
+.taobaocdn.com : quic://223.6.6.6:853
tbcache.com : quic://223.6.6.6:853
tmall.com : quic://223.6.6.6:853
tmall.hk : quic://223.6.6.6:853
+.tmall.hk : quic://223.6.6.6:853
xiami.com : quic://223.6.6.6:853
+.xiami.com : quic://223.6.6.6:853
xiami.net : quic://223.6.6.6:853
+.xiami.net : quic://223.6.6.6:853
ykimg.com : quic://223.6.6.6:853
+.ykimg.com : quic://223.6.6.6:853
youku.com : quic://223.6.6.6:853
+.youku.com : quic://223.6.6.6:853
tudou.com : quic://223.6.6.6:853
+.tudou.com : quic://223.6.6.6:853
cibntv.net : quic://223.6.6.6:853
+.cibntv.net : quic://223.6.6.6:853
ele.me : quic://223.6.6.6:853
+.ele.me : quic://223.6.6.6:853
elemecdn.com : quic://223.6.6.6:853
+.elemecdn.com : quic://223.6.6.6:853
feizhu.com : quic://223.6.6.6:853
+.feizhu.com : quic://223.6.6.6:853
taopiaopiao.com : quic://223.6.6.6:853
+.taopiaopiao.com : quic://223.6.6.6:853
fliggy.com : quic://223.6.6.6:853
+.fliggy.com : quic://223.6.6.6:853
koubei.com : quic://223.6.6.6:853
+.koubei.com : quic://223.6.6.6:853
mybank.cn : quic://223.6.6.6:853
+.mybank.cn : quic://223.6.6.6:853
mmstat.com : quic://223.6.6.6:853
uczzd.cn : quic://223.6.6.6:853
+.uczzd.cn : quic://223.6.6.6:853
iconfont.cn : quic://223.6.6.6:853
+.iconfont.cn : quic://223.6.6.6:853
freshhema.com : quic://223.6.6.6:853
+.freshhema.com : quic://223.6.6.6:853
hemamax.com : quic://223.6.6.6:853
+.hemamax.com : quic://223.6.6.6:853
hemaos.com : quic://223.6.6.6:853
+.hemaos.com : quic://223.6.6.6:853
hemashare.cn : quic://223.6.6.6:853
+.hemashare.cn : quic://223.6.6.6:853
shyhhema.com : quic://223.6.6.6:853
+.shyhhema.com : quic://223.6.6.6:853
sm.cn : quic://223.6.6.6:853
+.sm.cn : quic://223.6.6.6:853
npmmirror.com : quic://223.6.6.6:853
+.npmmirror.com : quic://223.6.6.6:853
alios.cn : quic://223.6.6.6:853
+.alios.cn : quic://223.6.6.6:853
wandoujia.com : quic://223.6.6.6:853
+.wandoujia.com : quic://223.6.6.6:853
aliapp.org : quic://223.6.6.6:853
tanx.com : quic://223.6.6.6:853
+.tanx.com : quic://223.6.6.6:853
hellobike.com : quic://223.6.6.6:853
+.hellobike.com : quic://223.6.6.6:853
hichina.com : quic://223.6.6.6:853
+.hichina.com : quic://223.6.6.6:853
dns.pub : https://120.53.53.53/dns-query
+.dns.pub : https://120.53.53.53/dns-query
+.doh.pub : https://120.53.53.53/dns-query
qcloud.com : https://120.53.53.53/dns-query
gtimg.cn : https://120.53.53.53/dns-query
gtimg.com : https://120.53.53.53/dns-query
+.gtimg.com : https://120.53.53.53/dns-query
gtimg.com.cn : https://120.53.53.53/dns-query
+.gtimg.com.cn : https://120.53.53.53/dns-query
gdtimg.com : https://120.53.53.53/dns-query
+.gdtimg.com : https://120.53.53.53/dns-query
idqqimg.com : https://120.53.53.53/dns-query
igamecj.com : https://120.53.53.53/dns-query
+.igamecj.com : https://120.53.53.53/dns-query
myapp.com : https://120.53.53.53/dns-query
+.myapp.com : https://120.53.53.53/dns-query
myqcloud.com : https://120.53.53.53/dns-query
dnspod.com : https://120.53.53.53/dns-query
+.dnspod.com : https://120.53.53.53/dns-query
qpic.cn : https://120.53.53.53/dns-query
qlogo.cn : https://120.53.53.53/dns-query
qq.com : https://120.53.53.53/dns-query
qq.com.cn : https://120.53.53.53/dns-query
+.qq.com.cn : https://120.53.53.53/dns-query
qq.wang : https://120.53.53.53/dns-query
+.qq.wang : https://120.53.53.53/dns-query
qqmail.cn : https://120.53.53.53/dns-query
+.qqmail.cn : https://120.53.53.53/dns-query
qqmail.com : https://120.53.53.53/dns-query
+.qqmail.com : https://120.53.53.53/dns-query
qzone.com : https://120.53.53.53/dns-query
+.qzone.com : https://120.53.53.53/dns-query
tencent-cloud.net : https://120.53.53.53/dns-query
tencent.com : https://120.53.53.53/dns-query
tencent.com.cn : https://120.53.53.53/dns-query
+.tencent.com.cn : https://120.53.53.53/dns-query
tencentmusic.com : https://120.53.53.53/dns-query
+.tencentmusic.com : https://120.53.53.53/dns-query
weixinbridge.com : https://120.53.53.53/dns-query
weixin.com : https://120.53.53.53/dns-query
wechat.com : https://120.53.53.53/dns-query
weiyun.com : https://120.53.53.53/dns-query
soso.com : https://120.53.53.53/dns-query
+.soso.com : https://120.53.53.53/dns-query
sogo.com : https://120.53.53.53/dns-query
+.sogo.com : https://120.53.53.53/dns-query
sogou.com : https://120.53.53.53/dns-query
+.sogou.com : https://120.53.53.53/dns-query
sogoucdn.com : https://120.53.53.53/dns-query
+.sogoucdn.com : https://120.53.53.53/dns-query
roblox.cn : https://120.53.53.53/dns-query
+.roblox.cn : https://120.53.53.53/dns-query
robloxdev.cn : https://120.53.53.53/dns-query
+.robloxdev.cn : https://120.53.53.53/dns-query
wegame.com : https://120.53.53.53/dns-query
+.wegame.com : https://120.53.53.53/dns-query
wegame.com.cn : https://120.53.53.53/dns-query
+.wegame.com.cn : https://120.53.53.53/dns-query
wegameplus.com : https://120.53.53.53/dns-query
+.wegameplus.com : https://120.53.53.53/dns-query
cdn-go.cn : https://120.53.53.53/dns-query
tencentcs.cn : https://120.53.53.53/dns-query
+.tencentcs.cn : https://120.53.53.53/dns-query
tencent-coud.cn : https://120.53.53.53/dns-query
+.tencent-coud.cn : https://120.53.53.53/dns-query
qcloudimg.com : https://120.53.53.53/dns-query
dnspod.cn : https://120.53.53.53/dns-query
+.dnspod.cn : https://120.53.53.53/dns-query
yunos.com : https://120.53.53.53/dns-query
+.yunos.com : https://120.53.53.53/dns-query
yitao.com : https://120.53.53.53/dns-query
+.yitao.com : https://120.53.53.53/dns-query
anticheatexpert.com : https://120.53.53.53/dns-query
+.anticheatexpert.com : https://120.53.53.53/dns-query
+.url.cn : https://120.53.53.53/dns-query
qlivecdn.com : https://120.53.53.53/dns-query
+.qlivecdn.com : https://120.53.53.53/dns-query
tcdnlive.com : https://120.53.53.53/dns-query
+.tcdnlive.com : https://120.53.53.53/dns-query
dnsv1.com : https://120.53.53.53/dns-query
+.dnsv1.com : https://120.53.53.53/dns-query
+.upos-sz-mirrorali.bilivideo.com : quic://223.5.5.5:853
+.upos-sz-mirrorbos.bilivideo.com : 180.76.76.76
upos-sz-mirrorcoso1.bilivideo.com : https://120.53.53.53/dns-query
+.upos-sz-mirrorcoso1.bilivideo.com : https://120.53.53.53/dns-query
acg.tv : https://120.53.53.53/dns-query
+.acg.tv : https://120.53.53.53/dns-query
b23.tv : https://120.53.53.53/dns-query
+.b23.tv : https://120.53.53.53/dns-query
acgvideo.com : https://120.53.53.53/dns-query
+.acgvideo.com : https://120.53.53.53/dns-query
bilibili.cn : https://120.53.53.53/dns-query
+.bilibili.cn : https://120.53.53.53/dns-query
bilibili.com : https://120.53.53.53/dns-query
+.bilibili.com : https://120.53.53.53/dns-query
bilibili.tv : https://120.53.53.53/dns-query
+.bilibili.tv : https://120.53.53.53/dns-query
bilivideo.com : https://120.53.53.53/dns-query
+.bilivideo.com : https://120.53.53.53/dns-query
bilivideo.cn : https://120.53.53.53/dns-query
+.bilivideo.cn : https://120.53.53.53/dns-query
bilivideo.net : https://120.53.53.53/dns-query
+.bilivideo.net : https://120.53.53.53/dns-query
hdslb.com : https://120.53.53.53/dns-query
+.hdslb.com : https://120.53.53.53/dns-query
biliimg.com : https://120.53.53.53/dns-query
+.biliimg.com : https://120.53.53.53/dns-query
biliapi.com : https://120.53.53.53/dns-query
+.biliapi.com : https://120.53.53.53/dns-query
biliapi.net : https://120.53.53.53/dns-query
+.biliapi.net : https://120.53.53.53/dns-query
biligame.cn : https://120.53.53.53/dns-query
+.biligame.cn : https://120.53.53.53/dns-query
biligame.com : https://120.53.53.53/dns-query
+.biligame.com : https://120.53.53.53/dns-query
biligame.net : https://120.53.53.53/dns-query
+.biligame.net : https://120.53.53.53/dns-query
bilicomics.com : https://120.53.53.53/dns-query
+.bilicomics.com : https://120.53.53.53/dns-query
bilibilipay.cn : https://120.53.53.53/dns-query
+.bilibilipay.cn : https://120.53.53.53/dns-query
bilibilipay.com : https://120.53.53.53/dns-query
+.bilibilipay.com : https://120.53.53.53/dns-query
bilicdn1.com : https://120.53.53.53/dns-query
+.bilicdn1.com : https://120.53.53.53/dns-query
mi.com : https://120.53.53.53/dns-query
+.mi.com : https://120.53.53.53/dns-query
duokan.com : https://120.53.53.53/dns-query
+.duokan.com : https://120.53.53.53/dns-query
mi-img.com : https://120.53.53.53/dns-query
+.mi-img.com : https://120.53.53.53/dns-query
mifile.cn : https://120.53.53.53/dns-query
+.mifile.cn : https://120.53.53.53/dns-query
miui.com : https://120.53.53.53/dns-query
+.miui.com : https://120.53.53.53/dns-query
xiaomi.com : https://120.53.53.53/dns-query
+.xiaomi.com : https://120.53.53.53/dns-query
xiaomi.cn : https://120.53.53.53/dns-query
+.xiaomi.cn : https://120.53.53.53/dns-query
xiaomi.net : https://120.53.53.53/dns-query
+.xiaomi.net : https://120.53.53.53/dns-query
xiaomiyoupin.com : https://120.53.53.53/dns-query
+.xiaomiyoupin.com : https://120.53.53.53/dns-query
saxyit.com : https://120.53.53.53/dns-query
+.saxyit.com : https://120.53.53.53/dns-query
bytecdn.cn : 180.184.2.2
+.bytecdn.cn : 180.184.2.2
toutiaoimg.com : 180.184.2.2
+.toutiaoimg.com : 180.184.2.2
toutiaoimg.cn : 180.184.2.2
+.toutiaoimg.cn : 180.184.2.2
toutiaostatic.com : 180.184.2.2
+.toutiaostatic.com : 180.184.2.2
toutiaovod.com : 180.184.2.2
+.toutiaovod.com : 180.184.2.2
toutiaocloud.com : 180.184.2.2
toutiaopage.com : 180.184.2.2
feiliao.com : 180.184.2.2
iesdouyin.com : 180.184.2.2
pstatp.com : 180.184.2.2
snssdk.com : 180.184.2.2
bytegoofy.com : 180.184.2.2
toutiao.com : 180.184.2.2
feishu.cn : 180.184.2.2
+.feishu.cn : 180.184.2.2
feishu.net : 180.184.2.2
+.feishu.net : 180.184.2.2
feishucdn.com : 180.184.2.2
+.feishucdn.com : 180.184.2.2
feishupkg.com : 180.184.2.2
+.feishupkg.com : 180.184.2.2
douyin.com : 180.184.2.2
douyinpic.com : 180.184.2.2
douyinstatic.com : 180.184.2.2
douyincdn.com : 180.184.2.2
+.douyincdn.com : 180.184.2.2
douyinliving.com : 180.184.2.2
+.douyinliving.com : 180.184.2.2
douyinvod.com : 180.184.2.2
huoshan.com : 180.184.2.2
huoshanstatic.com : 180.184.2.2
+.huoshanstatic.com : 180.184.2.2
huoshanzhibo.com : 180.184.2.2
ixigua.com : 180.184.2.2
ixiguavideo.com : 180.184.2.2
+.ixiguavideo.com : 180.184.2.2
ixgvideo.com : 180.184.2.2
+.ixgvideo.com : 180.184.2.2
volccdn.com : 180.184.2.2
+.volccdn.com : 180.184.2.2
byted-static.com : 180.184.2.2
volces.com : 180.184.2.2
+.volces.com : 180.184.2.2
baike.com : 180.184.2.2
+.baike.com : 180.184.2.2
91.com : 180.76.76.76
+.91.com : 180.76.76.76
hao123.com : 180.76.76.76
+.hao123.com : 180.76.76.76
baidu.cn : 180.76.76.76
+.baidu.cn : 180.76.76.76
baidu.com : 180.76.76.76
iqiyi.com : 180.76.76.76
+.iqiyi.com : 180.76.76.76
iqiyipic.com : 180.76.76.76
+.iqiyipic.com : 180.76.76.76
baidubce.com : 180.76.76.76
+.baidubce.com : 180.76.76.76
bcelive.com : 180.76.76.76
+.bcelive.com : 180.76.76.76
baiducontent.com : 180.76.76.76
+.baiducontent.com : 180.76.76.76
baidustatic.com : 180.76.76.76
+.baidustatic.com : 180.76.76.76
bdstatic.com : 180.76.76.76
bdimg.com : 180.76.76.76
bcebos.com : 180.76.76.76
baidupcs.com : 180.76.76.76
+.baidupcs.com : 180.76.76.76
baidubcr.com : 180.76.76.76
+.baidubcr.com : 180.76.76.76
yunjiasu-cdn.net : 180.76.76.76
+.yunjiasu-cdn.net : 180.76.76.76
tieba.com : 180.76.76.76
+.tieba.com : 180.76.76.76
xiaodutv.com : 180.76.76.76
+.xiaodutv.com : 180.76.76.76
shifen.com : 180.76.76.76
+.shifen.com : 180.76.76.76
jomodns.com : 180.76.76.76
+.jomodns.com : 180.76.76.76
bdydns.com : 180.76.76.76
+.bdydns.com : 180.76.76.76
qhimg.com : https://101.198.198.198/dns-query
qhimgs0.com : https://101.198.198.198/dns-query
+.qhimgs0.com : https://101.198.198.198/dns-query
qhimgs1.com : https://101.198.198.198/dns-query
+.qhimgs1.com : https://101.198.198.198/dns-query
qhimgs2.com : https://101.198.198.198/dns-query
+.qhimgs2.com : https://101.198.198.198/dns-query
qhimgs3.com : https://101.198.198.198/dns-query
+.qhimgs3.com : https://101.198.198.198/dns-query
qhimgs4.com : https://101.198.198.198/dns-query
+.qhimgs4.com : https://101.198.198.198/dns-query
qhimgs5.com : https://101.198.198.198/dns-query
+.qhimgs5.com : https://101.198.198.198/dns-query
qhimgs6.com : https://101.198.198.198/dns-query
+.qhimgs6.com : https://101.198.198.198/dns-query
qhres.com : https://101.198.198.198/dns-query
qhres0.com : https://101.198.198.198/dns-query
+.qhres0.com : https://101.198.198.198/dns-query
qhres1.com : https://101.198.198.198/dns-query
+.qhres1.com : https://101.198.198.198/dns-query
qhres2.com : https://101.198.198.198/dns-query
+.qhres2.com : https://101.198.198.198/dns-query
qhres3.com : https://101.198.198.198/dns-query
+.qhres3.com : https://101.198.198.198/dns-query
qhres4.com : https://101.198.198.198/dns-query
+.qhres4.com : https://101.198.198.198/dns-query
qhres5.com : https://101.198.198.198/dns-query
+.qhres5.com : https://101.198.198.198/dns-query
qhres6.com : https://101.198.198.198/dns-query
+.qhres6.com : https://101.198.198.198/dns-query
qhmsg.com : https://101.198.198.198/dns-query
qhstatic.com : https://101.198.198.198/dns-query
+.qhstatic.com : https://101.198.198.198/dns-query
qhupdate.com : https://101.198.198.198/dns-query
qihucdn.com : https://101.198.198.198/dns-query
+.qihucdn.com : https://101.198.198.198/dns-query
360.com : https://101.198.198.198/dns-query
+.360.com : https://101.198.198.198/dns-query
360.cn : https://101.198.198.198/dns-query
360.net : https://101.198.198.198/dns-query
+.360.net : https://101.198.198.198/dns-query
360safe.com : https://101.198.198.198/dns-query
360tpcdn.com : https://101.198.198.198/dns-query
+.360tpcdn.com : https://101.198.198.198/dns-query
360os.com : https://101.198.198.198/dns-query
+.360os.com : https://101.198.198.198/dns-query
360webcache.com : https://101.198.198.198/dns-query
360kuai.com : https://101.198.198.198/dns-query
so.com : https://101.198.198.198/dns-query
haosou.com : https://101.198.198.198/dns-query
+.haosou.com : https://101.198.198.198/dns-query
yunpan.cn : https://101.198.198.198/dns-query
yunpan.com : https://101.198.198.198/dns-query
yunpan.com.cn : https://101.198.198.198/dns-query
qh-cdn.com : https://101.198.198.198/dns-query
+.qh-cdn.com : https://101.198.198.198/dns-query
baomitu.com : https://101.198.198.198/dns-query
+.baomitu.com : https://101.198.198.198/dns-query
+.hotspot.cslwifi.com : syslib
+.amplifi.lan : syslib
+.lan : syslib
+.*.lan : syslib
home.arpa : syslib
+.home.arpa : syslib
ts.net : syslib
+.ts.net : syslib
+.instant.arubanetworks.com : syslib
+.setmeup.arubanetworks.com : syslib
+.router.asus.com : syslib
repeater.asus.com : syslib
+.repeater.asus.com : syslib
asusrouter.com : syslib
+.asusrouter.com : syslib
+.routerlogin.net : syslib
+.tendawifi.com : syslib
+.tplinkwifi.net : syslib
+.tplogin.cn : syslib
tplinkap.net : syslib
+.tplinkap.net : syslib
tplinkeap.net : syslib
+.tplinkeap.net : syslib
tplinkmodem.net : syslib
+.tplinkmodem.net : syslib
tplinkplclogin.net : syslib
+.tplinkplclogin.net : syslib
tplinkrepeater.net : syslib
+.tplinkrepeater.net : syslib
+.miwifi.com : syslib
+.zte.home : syslib
ui.direct : syslib
+.ui.direct : syslib
+.hiwifi.com : syslib
huaweimobilewifi.com : syslib
+.huaweimobilewifi.com : syslib
my.router : syslib
+.my.router : syslib
+.phicomm.me : syslib
router.ctc : syslib
+.router.ctc : syslib
+.peiluyou.com : syslib
airbox.home : syslib
+.airbox.home : syslib
arcor.easybox : syslib
+.arcor.easybox : syslib
aterm.me : syslib
+.aterm.me : syslib
bthub.home : syslib
+.bthub.home : syslib
bthomehub.home : syslib
+.bthomehub.home : syslib
congstar.box : syslib
+.congstar.box : syslib
connect.box : syslib
+.connect.box : syslib
console.gl-inet.com : syslib
+.console.gl-inet.com : syslib
easy.box : syslib
+.easy.box : syslib
+.etxr : syslib
fritz.box : syslib
+.fritz.box : syslib
fritz.nas : syslib
+.fritz.nas : syslib
fritz.repeater : syslib
+.fritz.repeater : syslib
giga.cube : syslib
+.giga.cube : syslib
hi.link : syslib
+.hi.link : syslib
hitronhub.home : syslib
+.hitronhub.home : syslib
homerouter.cpe : syslib
+.homerouter.cpe : syslib
myfritz.box : syslib
+.myfritz.box : syslib
mobile.hotspot : syslib
+.mobile.hotspot : syslib
ntt.setup : syslib
+.ntt.setup : syslib
pi.hole : syslib
+.pi.hole : syslib
plex.direct : syslib
+.plex.direct : syslib
app.plex.tv : syslib
+.app.plex.tv : syslib
routerlogin.com : syslib
+.routerlogin.com : syslib
samsung.router : syslib
+.samsung.router : syslib
speedport.ip : syslib
+.speedport.ip : syslib
steamloopback.host : syslib
+.steamloopback.host : syslib
web.setup : syslib
+.web.setup : syslib
web.setup.home : syslib
+.web.setup.home : syslib
10.in-addr.arpa : syslib
+.10.in-addr.arpa : syslib
16.172.in-addr.arpa : syslib
+.16.172.in-addr.arpa : syslib
17.172.in-addr.arpa : syslib
+.17.172.in-addr.arpa : syslib
18.172.in-addr.arpa : syslib
+.18.172.in-addr.arpa : syslib
19.172.in-addr.arpa : syslib
+.19.172.in-addr.arpa : syslib
20.172.in-addr.arpa : syslib
+.20.172.in-addr.arpa : syslib
21.172.in-addr.arpa : syslib
+.21.172.in-addr.arpa : syslib
22.172.in-addr.arpa : syslib
+.22.172.in-addr.arpa : syslib
23.172.in-addr.arpa : syslib
+.23.172.in-addr.arpa : syslib
24.172.in-addr.arpa : syslib
+.24.172.in-addr.arpa : syslib
25.172.in-addr.arpa : syslib
+.25.172.in-addr.arpa : syslib
26.172.in-addr.arpa : syslib
+.26.172.in-addr.arpa : syslib
27.172.in-addr.arpa : syslib
+.27.172.in-addr.arpa : syslib
28.172.in-addr.arpa : syslib
+.28.172.in-addr.arpa : syslib
29.172.in-addr.arpa : syslib
+.29.172.in-addr.arpa : syslib
30.172.in-addr.arpa : syslib
+.30.172.in-addr.arpa : syslib
31.172.in-addr.arpa : syslib
+.31.172.in-addr.arpa : syslib
168.192.in-addr.arpa : syslib
+.168.192.in-addr.arpa : syslib
254.169.in-addr.arpa : syslib
+.254.169.in-addr.arpa : syslib